<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>EY</title>
	<link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
	<link rel="stylesheet" th:href="@{/assets/css/Articles-Badges-images.css}">
	<link rel="stylesheet" th:href="@{/assets/css/Black-Navbar.css}">
	<link rel="stylesheet" th:href="@{/assets/css/Dark-NavBar-Navigation-with-Button.css}">
	<link rel="stylesheet" th:href="@{/assets/css/Dark-NavBar-Navigation-with-Search.css}">
	<link rel="stylesheet" th:href="@{/assets/css/Dark-NavBar.css}">
	<link rel="stylesheet" th:href="@{/assets/css/Drag-and-Drop-File-Input.css}">
	<link rel="stylesheet" th:href="@{/assets/css/Drag-and-Drop-Multiple-File-Form-Input-upload-Advanced.css}">
	<link rel="stylesheet" th:href="@{/assets/css/LinkedIn-like-Profile-Box.css}">
	<link rel="stylesheet" th:href="@{/assets/css/Login-Form-Basic-icons.css}">
	<link rel="stylesheet" th:href="@{/assets/css/Ludens-Users---25-After-Register.css}">
	<link rel="stylesheet" th:href="@{/assets/css/Model-Gallery-And-Profile-light-slider-gallery-section.css}">
	<link rel="stylesheet" th:href="@{/assets/css/Profile-Card.css}">
	<link rel="stylesheet" th:href="@{/assets/css/Profile-Edit-Form-styles.css}">
	<link rel="stylesheet" th:href="@{/assets/css/Profile-Edit-Form.css}">
	<link rel="stylesheet" th:href="@{/assets/css/Register-form.css}">
	<link rel="stylesheet" th:href="@{/assets/css/Single-Advisor-Profile.css}">
	<link rel="stylesheet" th:href="@{/assets/css/styles.css}">
</head>

<body>
<nav class="navbar navbar-light navbar-expand-md navbar-fixed-top navigation-clean-button" style="background: rgb(34, 34, 34);border-radius: 20;border-top-left-radius: 20;border-top-right-radius: 20;border-bottom-right-radius: 20;border-bottom-left-radius: 20;border-style: none;padding-top: 0;padding-bottom: 10px;margin-top: -20px;">
	<div class="container"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
		<div style="width: auto;margin-top: 0.5%;margin-bottom: 0.5%;margin-left: 0%;"><img src="/assets/img/clipboard-image-1.png" style="width: 60px;margin-top: 0px;margin-bottom: 0px;"></div>
		<div class="collapse navbar-collapse" id="navcol-1" style="color: rgb(255,255,255); margin-top: 1%">
			<ul class="navbar-nav nav-right">
				<li class="nav-item"><a class="nav-link" href="/vaga" style="color: rgba(224,217,217,0.9);">Home</a></li>
				<li class="nav-item"><a class="nav-link" href="/vaga/vagaCandidato" style="color: rgba(224,217,217,0.9);">Minhas vagas</a></li>
				<li class="nav-item"><a class="nav-link" href="/trilha" style="color: rgba(224,217,217,0.9);">Trilhas</a></li>
			</ul>
			<p class="ms-auto navbar-text actions"> </p>
		</div><img class="rounded-circle" style="height: 50px;height: 40px;margin-right: 13px;margin-top: 3px;" src="/assets/img/user-photo2.jpg">
		<p class="fw-bold mb-0" th:text="${candidato.nome} + ' ' + ${candidato.sobrenome}" style="color: rgb(254,249,249);margin-top: 4px;">Thiago Wlian</p>
	</div>
</nav>
	<div class="container py-4 py-xl-5">
		<div class="container py-4 py-xl-5">
			<h2 style="margin-bottom: 28px;">Trilhas</h2>
			<div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3" style="margin-top: 0px;">
				<div class="col" th:each="trilha : ${listarTrilhas}">
					<div class="card">
						<img class="card-img-top w-100 d-block fit-cover"
							style="height: 200px;" th:src="${trilha.imagem}">
						<div class="card-body p-4"
							style="min-width: auto; height: 197.967px; max-height: 234.797px; min-height: 234.797px;">
							<h4 class="card-title" th:text="${trilha.nome}">TESTE</h4>
							<p class="card-text">
								<span style="color: rgb(77, 81, 86);"
									th:text="${#strings.abbreviate(trilha.descricao,170)}"></span><br>
							</p>
							<div class="d-flex">
								<a href="#" th:href="@{/prova/{link}(link=${trilha.provas.id})}" class="btn btn-primary"
									style="position: relative; margin-left: 50%; margin-top: -2px; background: rgb(245, 76, 53);">PROVA</a>
								<a href="#" th:href="@{/trilha/conteudo/{link2}(link2=${trilha.id})}" class="btn btn-primary" type="button"
									style="position: relative; margin-left: 2%; margin-top: -2px;">ACESSAR</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/js/Drag-and-Drop-File-Input.js"></script>
	<script
		src="assets/js/Drag-and-Drop-Multiple-File-Form-Input-upload-Advanced.js"></script>
	<script src="https://geodata.solutions/includes/countrystate.js"></script>
	<script src="assets/js/Model-Gallery-And-Profile.js"></script>
	<script src="assets/js/Profile-Edit-Form.js"></script>
</body>

</html>